
*.py[cod]
*.egg-info

*.dll
*.so
*.dylib

/build
/dist

/wpilib/buttons/rpy-include
/wpilib/buttons/_init_commands_v1_buttons.py
/wpilib/buttons/pkgcfg.py

/wpilib/command/_init_commands_v1.py
/wpilib/command/include
/wpilib/command/lib
/wpilib/command/rpy-include
/wpilib/command/pkgcfg.py
/wpilib/command/version.py
