
*.py[ciod]
*.egg-info

*.dll
*.so
*.dylib

/build
/dist

/commands1/buttons/rpy-include
/commands1/buttons/_init_commands_v1_buttons.py
/commands1/buttons/pkgcfg.py

/commands1/_init_commands_v1.py
/commands1/include
/commands1/lib
/commands1/rpy-include
/commands1/pkgcfg.py
/commands1/version.py

/commands1/_impl/pkgcfg.py
/commands1/_impl/include
/commands1/_impl/rpy-include
/commands1/_impl/_init_commands_v1.py
/commands1/py.typed